body 
{
    background-image: url(slika.jpg);
    font-family: Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
    color: rgb(11, 31, 117);
    text-transform: capitalize;
}
#nav a:hover
{background-color: red;
    text-align: center;
    text-decoration: underline;
}
#nav a:active {
background-color: blue;
}
h1, h2, h3 {
    margin: 0px;
    color: rgb(45, 45, 167);
}
#container {
    background-color: whitesmoke;
    width: 800px;
    margin-left:auto;
    margin-right: auto;

}
#header {
    background-color: rgb(93, 93, 173);
    color: white;
    text-align: center;
}
#content {
    padding: 10px;
}
#nav {
    width: 180px;
    float: left;
    font-weight: bold;
    height: 1600px;
    margin-left: 10px;

}
#nav ul {
    list-style-type: none;
    padding: 0px;
}
#main {
    width: 600px;
    height: 1600px;
}
#footer {
    clear: both;
    padding: 10px;
    background-color: rgb(93, 93, 173);
    color: white;
    text-align: right;
}
.naslov {
    color: white;
}
.boldirano {
    color: rgba(2, 1, 54, 0.836);
}